# Pivnice U Tygra - GitLab Pages deployment
variables:
  ZOLA_VERSION: "0.19.2"

pages:
  image: alpine:3.19
  before_script:
    - apk add --no-cache wget tar
    - wget -O zola.tar.gz https://github.com/getzola/zola/releases/download/v${ZOLA_VERSION}/zola-v${ZOLA_VERSION}-x86_64-unknown-linux-musl.tar.gz
    - tar -xzf zola.tar.gz
    - chmod +x zola
    - mv zola /usr/local/bin/
  script:
    - echo "Building Pivnice U Tygra with Zola..."
    - zola --version
    - zola check
    - zola build
    - echo "Build completed successfully"
    - ls -la public/
  artifacts:
    paths:
      - public
  only:
    - main